[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
websockets = "*"
bpython = "*"

[packages]
channels = "*"
django = "*"
djangorestframework = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
markdown = "*"
psycopg2 = "*"
pygments = "*"
dacite = "*"
bidict = "*"

[requires]
python_version = "3.8"
