[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"
pylint = "*"
websockets = "*"
django-debug-toolbar = "*"
werkzeug = "*"

[packages]
channels = "*"
django = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-mptt = "*"
markdown = "*"
psycopg2 = "*"
pygments = "*"
bidict = "*"
django-money = "*"

[requires]
python_version = "3.7"
